* {
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
  letter-spacing: 0.15em;
}

.App {
  text-align: center;
  color: rgb(167, 198, 204);
}

body {
  height: 100%;
}

h1 {
  color: rgb(205, 231, 240);
  font-family: 'Rock Salt', cursive;
  font-size: 6vw;
  margin: 20px;
}

h3 {
  color: white;
  display: flex;
  justify-content: center;
}

nav {
  text-align: center;
  padding-bottom: 0.05em;
  padding-top: 2em;
  background-color: black;
  box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.7);
}

ul.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: bold;
  margin-bottom: 5px;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 2rem;
}

nav a,
nav a:link {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delete-button {
  color: red;
  cursor: pointer;
}

/* App */

.main-title {
  padding: 0.5em;
  color: rgb(205, 231, 240);
  margin: 0;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.cards {
  display: grid;
  margin: 1.5em 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  grid-gap: 2em;
  grid-auto-rows: 300px;
}

.landing-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.facts {
  color: white;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.landing-page-welcome {
  text-align: center;
  color: rgb(167, 198, 204);
  font-size: 50px;
}

.landing-page-text {
  text-align: center;
  color: rgb(167, 198, 204);
  font-size: 30px;
}

#welcomeHeader {
  font-size: 5vw;
  text-align: center;
}

#passport-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* rotates the cards*/
.card-image {
  position: relative;
  margin: 20px;
  height: 200px;
  width: 200px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
.card-image:hover {
  transform: rotateX(180deg);
}
.card-container {
  perspective: 700;
}
.back {
  transform: rotateX(180deg);
}
.front .back {
  position: absolute;
  background: #5677fc;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
/* End of rotates cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.4);
  text-align: center;
  background: #ddd;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card:after {
  content: '';
  width: 100%;
  background-color: black;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

.card:hover:after {
  opacity: 0;
}

#favesTitle {
  color: rgb(167, 198, 204);
  text-shadow: 2px 2px 2px black;
}

#eachFaveContainer {
  width: 100%;
  padding: 20px;
}

#allFavesContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 80%;
}

.favesContainer {
  display: flex;
  flex-direction: column;
}

.card-text {
  position: relative;
  z-index: 1;
  color: rgb(39, 37, 37);
  background: whitesmoke;
  letter-spacing: 1px;
}

.card-text a {
  text-decoration: none;
}

.card-text h4 {
  margin: 0;
  padding: 0.2em;
}

/* video Page */

.video-image {
  height: 40vh;
  width: 100%;
}

.video-image:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 60vh;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

.video {
  text-align: center;
  background: whitesmoke;
  padding: 1em;
}

.video h1 {
  font-size: 2.5rem;
  text-align: center;
}

.video-header {
  overflow: hidden;
  background-image: url(https://bit.ly/2JqRbuI);
}

.video-header > p {
  margin: 0;
}

.video-description {
  font-size: 2rem;
  color: darkslategray;
  padding: 1em;
  font-weight: 200;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-style: italic;
}

.video-name {
  color: #1eaedb;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.video-instructions {
  text-align: left;
  padding: 0 2em;
}

.video-instructions * {
  padding-bottom: 0.5em;
}

.video-instructions__title {
  font-weight: 200;
  letter-spacing: 2px;
  color: #1eaedb;
  text-decoration: underline;
}

.like-button {
  display: flex;
  align-items: row;
  justify-content: center;
  margin: 4px;
}

.content {
  margin: 15px auto;
  height: 90vh;
  width: auto;
  background-image: url('https://cdn.dribbble.com/users/2033130/screenshots/5418198/fox_jungle_dribbble.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

#journeyHeader {
  text-shadow: 4px 4px 4px #b80c0b;
  font-size: 6vw !important;
}

#journey {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5%;
  white-space: nowrap;
}

#journeyLink {
  text-decoration: none;
}

#jbContainer {
  margin: 0 auto;
}

#journeyButton {
  font-size: 30pt;
  padding: 20px;
  height: 15%;
  color: rgb(167, 198, 204);
}

/* Search */

.search {
  font-size: 3rem;
  transition: width 0.2s ease-in;
  margin: 2em;
  width: 14em;
}

.search:focus {
  width: 12em;
}

.spinner {
  text-align: center;
  padding: 5em;
}

.favorites {
  color: white;
}

.modal {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid lightcoral;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid lightcoral;
}

.modal > button {
  margin: 10px;
}

.popup-content {
  width: 50% !important;
  display: flex !important;
  justify-content: center !important;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin: 0 auto;
}

.img {
  padding: 2px;
  max-width: 320px;
  max-height: 200px;
  margin: 0 auto;
}

.loader {
  margin: 0 auto;
}

.popupButton {
  display: inline-block;
  align-self: left;
}

.moments {
  width: 100%;
  display: block;
}

#popupPlayer {
  display: inline;
}

.momentsInner {
  margin: 0 auto;
  padding: 0;
  margin: 0 auto;
  display: inline;
  text-align: center;
}

.rowHolder {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

span {
  content: '\2190';
}

.shareBox {
  display: flex;
  justify-content: center;
}

.takeoff {
  position: relative;
  height: 100%;
  padding: 10px;
}

.takeoffGif {
  margin-top: 10px;
  width: 60%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

.skipContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}

.videoContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: scroll;
}

.quiz {
  font-weight: bold;
}

.quizBox {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.quizBox {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}

.optionBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 20px;
}

.landing-gif {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.gif {
  display: inline-block;
  transition: transform 0.2s;
  object-fit: cover;
  object-position: center;
  width: 100%;
  position: relative;
}

.gif:hover {
  transform: scale(1.15);
  cursor: pointer;
}

button {
  background-color: black;
  font-size: 20px;
  color: lightgray;
}

button:hover {
  color: whitesmoke;
  border: 2px solid white;
}

button:disabled {
  text-decoration: none;
  color: #2e2d2d;
  cursor: default;
}

button:disabled:hover {
  border: none;
}

#welcome {
  color: rgb(205, 231, 240);
  font-size: 18pt;
}

/* User modals */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.user-home-buttons {
  display: flex;
  align-items: row;
  justify-content: center;
  margin: 4px;
}

.journal {
  display: flex;
}

.aboutContent {
  z-index: -5;
}
