.App {
  text-align: center;
  color: rgb(167, 198, 204);
}

body {
  height: 100%;
}

h1 {
  color: white;
}

h3 {
  color: white;
  display: flex;
  justify-content: center;
}

nav {
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 2em;
  background-color: black;
  box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.7);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: bold;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 2rem;
}

nav a,
nav a:link {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 100;
}

.active {
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delete-button {
  color: red;
  cursor: pointer;
}

/* App */

.main-title {
  padding: 0.5em;
  color: rgb(205, 231, 240);
  margin: 0;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.cards {
  display: grid;
  margin: 1.5em 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  grid-gap: 2em;
  grid-auto-rows: 300px;
}

.landing-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /* justify-content: center;
  transition: transform 0.2s;
  object-fit: cover;
  object-position: center;
  width: 60%;
  position: relative; */
}

.facts {
  color: white;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.landing-page-welcome {
  text-align: center;
  color: rgb(167, 198, 204);
  font-size: 50px;
}

.landing-page-text {
  text-align: center;
  color: rgb(167, 198, 204);
  font-size: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.4);
  text-align: center;
  background: #ddd;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

.card:hover:after {
  opacity: 0;
}

.card-text {
  position: relative;
  z-index: 1;
  color: rgb(39, 37, 37);
  background: whitesmoke;
  letter-spacing: 1px;
}

.card-text a {
  text-decoration: none;
}

.card-text h4 {
  margin: 0;
  padding: 0.2em;
}

.Eagle {
  width: 20%;
  margin: 20px;
  z-index: 1;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background: #24c6dc;
  background: linear-gradient(to right, #514a9d, #24c6dc);
}

.Sky {
  width: 20%;
  margin: 20px;
  z-index: 1;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background: #50c9c3;
  background: linear-gradient(to right, rgb(80, 146, 143), rgb(2, 105, 100));
}

.Land {
  width: 100px;
  margin: 20px;
  z-index: 1;
  color: white;
  padding: 7px;
  background: #9d50bb;
  border-radius: 50px 120px 120px;
}

.Sea {
  width: 20%;
  margin: 20px;
  z-index: 1;
  padding: 7px;
  color: white;
  background: linear-gradient(to right, #b24592, #f15f79);
  border-radius: 50px 120px 120px;
}

/* video Page */

.video-image {
  height: 60vh;
  width: 100%;
}

.video-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60vh;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

.video {
  text-align: center;
  background: whitesmoke;
  padding: 1em;
}

.video h1 {
  font-size: 2.5rem;
  text-align: center;
}

.video-header {
  overflow: hidden;
  background-image: url(https://bit.ly/2JqRbuI);
}

.video-header > p {
  margin: 0;
}

.video-description {
  font-size: 2rem;
  color: darkslategray;
  padding: 1em;
  font-weight: 200;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-style: italic;
}

.video-name {
  color: #1eaedb;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.video-instructions {
  text-align: left;
  padding: 0 2em;
}

.video-instructions * {
  padding-bottom: 0.5em;
}

.video-instructions__title {
  font-weight: 200;
  letter-spacing: 2px;
  color: #1eaedb;
  text-decoration: underline;
}

.like-button {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 2rem;
  background-color: #f15f79;
  color: white !important;
}

/* Search */

.search {
  font-size: 3rem;
  transition: width 0.2s ease-in;
  margin: 2em;
  width: 10em;
}

.search:focus {
  width: 12em;
}

.spinner {
  text-align: center;
  padding: 5em;
}

.favorites {
  color: white;
}

.modal {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid lightcoral;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid lightcoral;
}

.modal > button {
  margin: 10px;
}

.popup-content {
  width: 40% !important;
  display: flex !important;
  justify-content: center !important;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.img {
  padding: 2px;
  max-width: 320px;
  max-height: 200px;
  display: inline-block;
}

.popupButton {
  display: inline-block;
  align-self: left;
}

.moments {
  display: flex;
  justify-content: center;
}

momentsInner > video {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.momentsInner {
  display: inline;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.innerButtons {
  display: inline-block;
}

.shareBox {
  display: flex;
  justify-content: center;
}

.takeoff {
  position: relative;
  height: 100%;
  padding: 10px;
}

.takeoffGif {
  margin-top: 10px;
  width: 60%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

.videoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quiz {
  font-weight: bold;
}

.quizBox {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.quizBox {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}

.optionBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 20px;
}

.gif {
  display: inline-block;
  transition: transform 0.2s;
  object-fit: cover;
  object-position: center;
  width: 100%;
  position: relative;
}

.gif:hover {
  transform: scale(1.15);
  cursor: pointer;
}

button {
  background-color: black;
}

button:hover {
  color: whitesmoke;
}

/* User modals */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


